@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #24252a;
}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #edf0f1;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    justify-content: space-between;
    /*flex end is to move the content to the left (right navbar) */
    /* justify-content: flex-end; */
}

.logo {
    cursor: pointer;
    /* because of the flex end, we move the logo to the left (right navbar); */
    /* margin-right: auto; */
    /* because of the flex end, we move the logo to the right (left navbar);  we use order to make it the last/ third*/
    /* order: 3;
    margin-left: auto; */
}


/*  we move the navs to the left (left navbar);  we use order to make it the first*/


/* nav {
    order: 1;
} */


/*  we move the button to the left (left navbar);  we use order to make it the second*/


/* .cta {
    order: 2;
} */

.menu {
    display: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* because of the flex end, we move the button to the left properly (right navbar); */
    /* margin-left: 20px; */
}

button:hover {
    background-color: rgba(0, 136, 169, 10.8);
}


/* //mobile responsiveness */

.overlay {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background-color: #24252a;
    transition: all 0.5s ease 0s;
    overflow-x: hidden;
}

.overlay_content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 250px;
}

.overlay a {
    display: block;
    padding: 15px;
    font-size: 36px;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    top: 10px;
    right: 45px;
    font-size: 60px;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .nav_links,
    .cta {
        display: none;
    }
    .menu {
        display: inherit;
    }
}

@media screen and (max-height: 450px) {
    .overlay .close {
        top: 10px;
        right: 40px;
        font-size: 30px;
    }
    .overlay a {
        font-size: 15px;
    }
}